.login-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .card {
    align-items: center;
    background-color: $light-white;
    border-radius: 8px;
    box-shadow: $simple-shadow;
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: center;
    width: 530px;

    img {
      margin-bottom: 20px;
    }
  }
}

#header-infos {
  background-color: $light-white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 160px;

  .despesas {
    color: $dark-blue;
    display: flex;
    align-items: center;

    img {
      margin-right: 4px;
    }

    strong {
      margin-right: 4px;
    }
  }

  .email {
    color: $light-green;
    display: flex;
    align-items: center;

    img {
      margin-right: 4px;
    }
  }
}