$font-satck: Roboto, Arial, Helvetica, sans-serif;
$simple-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);

$light-white: #f3f3f3;
$second-bg-white: #E1E5EB;
$light-green: #2FC18C;
$dark-blue: #003BE5;
$light-blue: #00D5E2;